/* Contents */

// Auth
.authbox
  max-width: 780px
  margin: 0 auto 10rem
  padding: 80px
  border: 1px solid $border
  border-radius: 32px
  &-title
    margin-bottom: 54px
    h1
      margin-bottom: 24px
    p
      color: $secn-text


// Homepage
.homepage
  padding-bottom: 40px
  h1
    font-size: 3.111rem
    line-height: 1.2em
    span
      font-size: 1.333rem
      line-height: 1.3em
  &-masthead
    margin-bottom: 40px
    .slider
      &-item
        width: 100%
        padding: 19.608% 0
        position: relative
        border-radius: 32px
        overflow: hidden
        img
          position: absolute
          top: 0
          left: 0
          width: 100%
          height: 100%
          object-fit: cover
          object-position: center
      &-text
        position: absolute
        top: 0
        left: 0
        padding: 5rem
        max-width: 680px
        h2
          font-size: 3.111rem
          line-height: 1.2em


.newsupdate,
.allproducts
  padding-bottom: 40px