extends templates/layout.pug

block vars
  - var activepage = "account";
  - var activesidemenu = "change-password";


block content
  .account
    .container
      .account-wrap
        .row.justify-content-between
          .col-md-3
            include templates/account_side_menu.pug

          .col-md-8
            .account-profile_top
              .row
                .col-6
                  h4 Change Password
                .col-6
            .account-profile_content
              form(action="")
                .form-group.row
                  .col-md-6
                    label New Password
                    input.form-control(type="password" value="Revver")
                  .col-md-6
                    label Confirm Password
                    input.form-control(type="password" value="Revver")
                  .col-md-6
                    label Old Password
                    input.form-control(type="password" value="Revver")
                .form-action.text-right
                  button.btn.btn-primary.btn-medium(type="submit") Save