extends templates/layout.pug

block vars
  - var activepage = "elearning";


block content
  .elearning
    .container
      .page-title.text-center
        h1 E-Learning Title

      section.elearing-content_pdf
        object.pdfwrap(data='https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf' width='100%' sheight='900')


