extends templates/layout.pug

block vars
  - var activepage = "elearning";


block content
  .elearning
    .container
      .page-title.text-center
        h1 E-Learning

    section.card-products
      .container
        .row
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title Lorem Ipsum is simply dummy text of the printing and typesetting industry.

    section.pagination
      .container
        .pagination-wrap
          .pagination-item.prev
            a(href="#")
              img(src="images/ic-chevron-left-white.png", alt="icon")
          .pagination-item.active
            a(href="#")
              span 1
          .pagination-item
            a(href="#")
              span 2
          .pagination-item
            a(href="#")
              span 3
          .pagination-item.next
            a(href="#")
              img(src="images/ic-chevron-right-white.png", alt="icon")
