extends templates/layout.pug

block vars
  - var activepage = "goals";


block content
  .goals
    .container
      .page-title.text-center
        h1 Goals
      section.goals-content
        .row
          .col-md-8
            .goals-left
              .row
                .col-md-6
                  .goals-charts
                    .donut-chart-block.block
                      .donut-chart
                        #part1.portion-block
                          .circle
                        #part2.portion-block
                          .circle
                        #part3.portion-block
                          .circle
                        p.center
                    .charts-title.text-center
                      h3 Your Dream
                      p Deadline in 2 Month
                      a.btn.btn-link(data-toggle="modal" data-target="#setDreamModal") Change Your Dream
                .col-md-6
                  .goals-progress
                    .goals-desc
                      p Target jaringan: 2800 kanan | 2800 kiri
                      p Perhitungan dibawah hanya diambil dari bonus referral (Sponsor):
                    .goals-steps
                      .steps-item
                        b 1000 Platinum
                        span per bulan
                        .or
                          span or
                      .steps-item.gold
                        b 1000 Gold
                        span per bulan
                        .or
                          span or
                      .steps-item.dark-gray
                        b 1000 Silver
                        span per bulan
                        .or
                          span or
                      .steps-item.brown
                        b 1000 Bronze
                        span per bulan
                        .or
                          span or
                      .steps-item.blue
                        b 1000 Userpack
                        span per bulan
                        .or
                          span or
          .col-md-4
            .goals-history
              .history-title
                h5 Progress History
                a.btn.btn-primary.btn-xsmall(href="#") Record Progress
              .history-item
                .left
                  .icon
                    img(src="images/ic-bulleyese.svg", alt="icon")
                  span 1 Gold
                .right
                  span 17-10-2022
              .history-item
                .left
                  .icon
                    img(src="images/ic-bulleyese.svg", alt="icon")
                  span 1 Gold
                .right
                  span 17-10-2022
            .goals-action.text-right
              a.btn.btn-primary.btn-xsmall(href="#resetModal" data-toggle="modal" data-target="#resetModal") Reset Progress


block modal
  #setDreamModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='setDreamModal' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h3.modal-title Set your dream
          //- button.close(type='button' data-dismiss='modal' aria-label='Close')
          //-   span(aria-hidden='true') &times;
        .modal-body
          form(action="#")
            .form-group
              label What are you dream of?
              input.form-control(type="text" placeholder="eg: New Smartphone, Traveling")
            .form-group
              label How much is it?
              input.form-control(type="text" placeholder="eg: 5000000")
            .form-group
              label When exactly do you want it?
              input.form-control(type="text" placeholder="Saturday, 31-12-2022")
            .form-group
              label Describe why do you want it so bad?
              textarea.form-control(type="text" placeholder="eg: Remembering why you want it.")
            .form-action
              .row
                .col-lg-6.col-12
                  button.btn.btn-secondary.btn-block(type='button' data-dismiss='modal') Close
                .col-lg-6.col-12
                  button.btn.btn-primary.btn-block(type='submit') Save
  #resetModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='resetModal' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h3.modal-title Record Progress
          .modal-desc
            p Enter the number of package you are recruited today
          //- button.close(type='button' data-dismiss='modal' aria-label='Close')
          //-   span(aria-hidden='true') &times;
        .modal-body
          form(action="#")
            .row
              .col-lg-6
                .form-group
                  input.form-control(type="text" placeholder="Total Package")

              .col-lg-6
                .form-group
                  select.select(Select Package)
                    option(val="0") Bronze
                    option(val="1") Silver
                    option(val="2") Gold
                    option(val="3" selected) Platinum
            .form-action
              .row
                .col-lg-6.col-12
                  button.btn.btn-secondary.btn-block(type='button' data-dismiss='modal') Close
                .col-lg-6.col-12
                  button.btn.btn-primary.btn-block(type='submit') Save

