extends templates/layout.pug

block vars
  - var activepage = "leads";


block content
  .leads.leads-add
    .container
      .leads-add
        form.leads-form
          .row.align-items-center
            .col-md-6
              .photo-profile.form-group
                input.custom-file-input(id="photo" type="file")
                label.preview(for="photo")
                  img(src="images/photo-profile.png", alt="photo")
            .col-md-6.text-right
              a.btn.btn-primary(href="#meetingModal" data-toggle="modal" data-target="#meetingModal") Meeting
          .row
            .col-md-4
              .form-group
                label Full Name
                input.form-control(type="text" placeholder="Revver")
            .col-md-4
              .form-group
                label Phone Number
                input.form-control(type="text" placeholder="081234567890")
            .col-md-4
              .form-group
                label Email
                input.form-control(type="email" placeholder="email@email.com")
          .row
            .col-md-4
              .form-group
                label Lead Status
                select.select(title="Select Lead")
                  option(value="0" selected) Cold
                  option(value="1") Warm
                  option(value="2") Hot
                  option(value="3") Converted
                  option(value="4") Potential
                  option(value="4") Avarage
                  option(value="4") Under Avarage
            .col-md-4
              .row
                .col-md-6
                  .form-group
                    label Financial Score
                    select.select(title="Score")
                      option(value="0" selected) 1
                      option(value="1") 2
                      option(value="2") 3
                      option(value="3") 4
                      option(value="4") 5
                      option(value="4") 6
                .col-md-6
                  .form-group
                    label Ambition Score
                    select.select(title="Score")
                      option(value="0" selected) 1
                      option(value="1") 2
                      option(value="2") 3
                      option(value="3") 4
                      option(value="4") 5
                      option(value="4") 6
            .col-md-4
              .row
                .col-md-6
                  .form-group
                    label Supel Score
                    select.select(title="Score")
                      option(value="0" selected) 1
                      option(value="1") 2
                      option(value="2") 3
                      option(value="3") 4
                      option(value="4") 5
                      option(value="4") 6
                .col-md-6
                  .form-group
                    label Teachable Score
                    select.select(title="Score")
                      option(value="0" selected) 1
                      option(value="1") 2
                      option(value="2") 3
                      option(value="3") 4
                      option(value="4") 5
                      option(value="4") 6
          .row
            .col-md-3
              .form-group
                label Medical Record
                select.select(title="Score")
                  option(value="0" selected) Flu
                  option(value="1") Pilek
                  option(value="2") Encok
                  option(value="3") Covid
            .col-md-3
              .form-group
                label Height (Cm)
                input.form-control(type="text" placeholder="eg: 160")
            .col-md-3
              .form-group
                label Weight (Kg)
                input.form-control(type="text" placeholder="eg: 60")
            .col-md-3
              .form-group
                label Age
                input.form-control(type="text" placeholder="eg: 20")
          .row
            .col-md-4
              .form-group
                label Province
                input.form-control(type="text" placeholder="Jawa Timur")
            .col-md-4
              .form-group
                label City
                input.form-control(type="text" placeholder="Surabaya")
            .col-md-4
              .form-group
                label Address
                input.form-control(type="text" placeholder="Jl. Arjuno")
          .row
            .col-md-12
              .form-group
                label Note
                textarea.form-control( placeholder="Enter a note for this lead" rows="4")
      .leads-action.text-right
        a.btn.btn-link(href="#meetingdeleteModal" data-toggle="modal" data-target="#meetingdeleteModal")
          | Delete Leads

block modal
  #meetingModal.modal.meetingModal.fade(tabindex='-1' role='dialog' aria-labelledby='meetingModal' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          a.close-btn(type='button' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
          h3.modal-title
            | Meeting
            a.btn.btn-addicon(href="#meetingaddModal" data-toggle="modal" data-target="#meetingaddModal" data-dismiss='modal') +
        .modal-body
          .content-wrap
            .notif-wrap
              a.notif-item(href="#")
                .notif-item_title
                  .icon-med.notif-event-bell
                  b Meeting with Lead
                .notif-misc
                  p Monday, 11 -10-1996
              a.notif-item(href="#")
                .notif-item_title
                  .icon-med.notif-event-bell
                  b Meeting with Lead
                .notif-misc
                  p Monday, 11 -10-1996
              a.notif-item(href="#")
                .notif-item_title
                  .icon-med.notif-event-bell
                  b Meeting with Lead
                .notif-misc
                  p Monday, 11 -10-1996
              a.notif-item(href="#")
                .notif-item_title
                  .icon-med.notif-event-bell
                  b Meeting with Lead
                .notif-misc
                  p Monday, 11 -10-1996
  #meetingaddModal.modal.meetingModal.fade(tabindex='-1' role='dialog' aria-labelledby='meetingaddModal' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h3.modal-title Create Meeting
        .modal-body
          .content-wrap
            form(action="#")
              .form-group
                label Event Name
                input.form-control(type="text" placeholder="eg: Meeting with new project")
              .form-group
                label Related to Lead
                input.form-control(type="text" placeholder="Leads Name")
              .form-group
                label Event Date
                input.form-control(type="text" placeholder="Friday, 21-10-2022 15:09")
              .form-group
                label Event Description
                textarea.form-control(placeholder="eg: Presentation to the new prospect")
              .form-group
                label Event Location
                textarea.form-control(placeholder="eg: Coffee Shop Tunjungan Plaza")
              .form-action
                .row
                  .col-lg-6.col-12
                    button.btn.btn-secondary.btn-block(type='button' data-dismiss='modal') Close
                  .col-lg-6.col-12
                    button.btn.btn-primary.btn-block(type='submit') Save
  #meetingdeleteModal.modal.meetingdeleteModal.fade(tabindex='-1' role='dialog' aria-labelledby='meetingdeleteModal' aria-hidden='true')
    .modal-dialog.modal-lg.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          .content-wrap
            h3.modal-title Edit Meeting
            a.btn.btn-icondel(href='#')
              img(src="images/ic-trash.svg", alt="icon" width="25" height="25")
        .modal-body
          .content-wrap
            form(action="#")
              .form-group
                label Event Name
                input.form-control(type="text" placeholder="eg: Meeting with new project")
              .form-group
                label Related to Lead
                input.form-control(type="text" placeholder="Leads Name")
              .form-group
                label Event Date
                input.form-control(type="text" placeholder="Friday, 21-10-2022 15:09")
              .form-group
                label Event Description
                textarea.form-control(placeholder="eg: Presentation to the new prospect")
              .form-group
                label Event Location
                textarea.form-control(placeholder="eg: Coffee Shop Tunjungan Plaza")
              .form-action
                .row
                  .col-lg-6.col-12
                    button.btn.btn-secondary.btn-block(type='button' data-dismiss='modal') Close
                  .col-lg-6.col-12
                    button.btn.btn-primary.btn-block(type='submit') Save




