extends templates/layout.pug

block vars
  - var activepage = "newsupdate";


block content
  .newsupdate
    .container
      .page-title.text-center
        h1 News & Updates

    section.card-products
      .container
        .row
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021
          .col-md-4
            .card
              .thumbnail
                a(href="#")
                  img(src="images/thumbnail-dummy.jpg", alt="img")
              .text.text-left
                .title We Offer the Best Quality Product to Our Customers
                .authdate
                  span.auth by&nbsp;
                    a(href="#") Admin
                  | , &nbsp;
                  span.date 12 Jan 2021

    section.pagination
      .container
        .pagination-wrap
          .pagination-item.prev
            a(href="#")
              img(src="images/ic-chevron-left-white.png", alt="icon")
          .pagination-item.active
            a(href="#")
              span 1
          .pagination-item
            a(href="#")
              span 2
          .pagination-item
            a(href="#")
              span 3
          .pagination-item.next
            a(href="#")
              img(src="images/ic-chevron-right-white.png", alt="icon")
