footer.footer
  .footer-top
    .container
      .row.justify-content-between
        .col-lg-5.col-md-6
          .footer-top_left
            .footer-logo
              a(href="home.html")
                img(src="images/logo-secondary.png", alt="logo")
            .footer-desc
              p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
            .footer-socmed
              a.ic-socmed(href='#' target="_blank")
                i.fa-brands.fa-square-instagram
              a.ic-socmed(href='#' target="_blank")
                i.fa-brands.fa-square-twitter
              a.ic-socmed(href='#' target="_blank")
                i.fa-brands.fa-square-facebook
        .col-lg-5.col-md-6
          .footer-contact
            h3 Contact
            ul
              li
                a(href="tel:+1234567890") +1234567890
                .ic-contact
                  i.fa-light.fa-phone
              li
                a(href="mailto:support@revver.com") support@revver.com
                .ic-contact
                  i.fa-regular.fa-envelope

  .footer-bottom
    .container
      .row.justify-content-between
        .col-lg-4
          .copyright
            span Copyright © 2022 Revver. All Right Reseved
        .col-lg-4
          .payment
            a.icon(href="#")
              img(src="images/ic-master-card.svg", alt="icon")
            a.icon(href="#")
              img(src="images/ic-visa.svg", alt="icon")
            a.icon(href="#")
              img(src="images/ic-paypal.svg", alt="icon")