header#header.header
  .container
    .row.justify-content-between
      .col-md-6
        .header-logo
          a(href="home.html")
            img(src="images/logo-revver.png", alt="logo")
      .col-md-6
        .header-right
          nav.header-menu
            a.header-menu_item(href="event.html") Event
            a.header-menu_item(href="event.html") Leads
          .header-icon
            a.icon(href="#")
              i.fa-solid.fa-cart-shopping
            a.icon(href="#")
              i.fa-solid.fa-bell
            a.icon(href="#")
              i.fa-solid.fa-user